{% extends "shop/layout.html" %} {% block content %}
<div class="container">
    <div class="row">
        <h2>{{shop.name}}</h2>

        {% for shop in category.shop_set.all %}
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{shop.photo.url}}" />
                <div class="card-body">
                    <p class="card-text">{{shop.name}}</p>
                    <p class="card-text">
                        {{shop.desc}} 
                        <!-- {{shop.latlng}} 
                        {{shop.address}} 
                        {{shop.is_public}} -->
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="{{ shop.get_absolute_url }}" class="btn btn-sm btn-outline-secondary">
                                View
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <hr/>
        <a href"{% url "shop:index" %}" class="btn btn-primary">대문</a>
    </div>
</div>
{% endblock %}