<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>요기요 st with 대성</title>
    <link rel="stylesheet" href="/static/bootstrap-4.1.1/css/bootstrap.min.css"/>
    <script src="/static/jquery-3.3.1.min.js"></script>>
    <script src="/static/bootstrap-4.1.1/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>요기요 st with 대성</h1>
    {% block content %}
    {% endblock %}
</body>
</html>