{% extends "shop/layout.html" %} 

    {% load humanize %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>{{shop.name}}</h2>
            
            <table class="table table-bordered table-hover">
                <tbody>
                    {% for item in shop.item_set.all %}
                    <tr>
                        <td>
                            {% if item.photo %}
                            <img src="{{item.photo.url}}" style="width: 144px;" /> {% endif %}
                        </td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.amount|intcomma }}</td>
                        <td>{{ item.is_public }}</td>
                    </tr>
                    {% endfor%}
                </tbody>
            </table>

            <h3>리뷰</h3>
            <a href="{% url "shop:review_new" shop.pk %}" class="btn btn-primary">리뷰 쓰기</a>
            {% for review in shop.review_set.all %}
            <div class="media text-muted pt-3">
                {% if review.photo %}
                <img src="{{review.photo.url}}" style="width: 32px; height: 32px;" alt="" class="mr-2 rounded"/> 
                {% endif %}
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">@{{ review.author}}</strong>
                     {{ review.message}}
                </p>
            </div>           
            {% endfor%}
            
        </div>
    </div>
</div>    
    <hr/>
    <!-- <a href ="{{ shop.category.get_absolute_url}}">{{shop.category.name}} 카테고리로</a> -->
    <a href="{% url "shop:index" %}">대문</a>
    <a href="{{ shop.category.get_absolute_url}}">{{shop.category.name}} 카테고리로</a>
</ul>
{% endblock %}